* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: lightgray;
}

a {
  text-decoration: none;
  color: rgb(97, 97, 97);
}
